.important{
    color: red;
    font-style: italic;
}
.h1{
    color: goldenrod;
    font-style: italic;
}
.h3{
    color: greenyellow;
    font-style: italic;
}
.h4{
    color: rgb(226, 168, 43);
    font-style: italic;
}

footer{
    display: block;
    background-color: rosybrown;
    font-style: italic;
    font-size: large;
}
.test-box {
    border-left: 2px solid red;
    border-right: 4px mediumblue;
    border-top: 6px yellowgreen;
    border-bottom: 8px tomato;
    display: block;
}
.sidebar {
    width: 12%;
    height: 25%;
    float: right;
    background-color: turquoise;
    padding-left: 10px;
    font-size: larger;

}


@media screen and (min-width 480px) and (max-width 767px) {
    body {
        background-color: gold;
        color: black;
    }
}
@media screen and (min-width: 768px) { 
    body { 
        background-color: gainsboro;
    }
}
